footer {
  margin: 0;
  padding: 0;
  border-top-style: groove;
}

footer p {
  margin: 0;
  padding: 0 0.5vw 0 0;
  text-align: end;
  color: darkslateblue;
  font-style: italic;
}

footer div p {
  padding-right: 0;
  text-align: center;
}
