header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom-style: groove;
}

header > a {
  padding: 0.7em 1.5em 0.5em 0.7em;
  color: darkslateblue;
  font-style: italic;
}

.title-link {
  text-decoration: none;
}

.dropdown-menu {
  min-width: auto;
}

.guest-header > a {
  margin: 1.2em 0.5em 1.2em 0;
}

@media screen and (max-width: 300px) {
  .guest-header {
    display: grid;
  }

  .guest-header > a {
    margin: 0.2em 0  0.2em 0;
  }
}

