<header>
  <a class="title-link" routerLink="/"><h2>CraftShop</h2></a>

  <div class="row">
    <div class="col btn-group">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Ваш профиль
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/cart">Корзина</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Войти</a></li>
      </ul>
    </div>
  </div>
</header>
